<script lang="ts" setup>
import { useCheckMaterialStore } from "@/stores/checkMaterislDetail";
import { useMaterialStore } from "@/stores/material.js";
import { onMounted } from "vue";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const resetNav = () => {
  form.value?.reset();
};
const materialStore = useMaterialStore();
const checkMatStore = useCheckMaterialStore();

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await checkMatStore.addCheckMatDetails();
  }
}

onMounted(async () => {
  await materialStore.getMaterials;
  await checkMatStore.getCheckMaterials;
});
</script>

<template>
  <v-navigation-drawer
    elevation="7"
    v-model="checkMatStore.navDrawCheckMat"
    location="right"
    width="450"
  >
    <!-- {{ checkMatStore.editCheckMaterial }} -->
    <!-- {{ checkMatStore.temp }} -->
    <v-card class="ma-5" width="400" color="brown-darken-1" rounded="lg">
      <v-card-title>Check Material</v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-row>
            <v-col cols="12">
              <v-autocomplete
                label="Material"
                :items="materialStore.materials"
                item-title="mat_name"
                v-model="checkMatStore.temp"
                return-object
              ></v-autocomplete>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Check Material last"
                v-model="checkMatStore.editCheckMaterial.mat_qty_last"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Check Material remain*"
                v-model="checkMatStore.editCheckMaterial.mat_qty_remain"
                :rules="[(v) => !!v || 'Material remain is required.']"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Check Material expire*"
                v-model="checkMatStore.editCheckMaterial.mat_qty_expire"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          class="ma-2"
          icon="mdi-close-circle"
          color="red-lighten-2"
          size="x-large"
          @click="
            checkMatStore.navDrawCheckMat = false;
            resetNav();
          "
        ></v-btn>
        <v-btn
          class="ma-2"
          icon="mdi-checkbox-marked-circle"
          color="green-lighten-1"
          size="x-large"
          @click="save()"
        >
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-navigation-drawer>
</template>
