<script lang="ts" setup>
import { useCheckMaterialStore } from "@/stores/checkMaterislDetail";
import { useMaterialStore } from "@/stores/material.js";
import { onMounted } from "vue";
import { ref } from "vue";
import CheckMatNav from "./CheckMatNav.vue";
import ConfirmDialog from "../ConfirmDialog.vue";
const materialStore = useMaterialStore();
const checkMatStore = useCheckMaterialStore();

const confirmDlg = ref();
onMounted(async () => {
  await materialStore.getMaterials;
  await checkMatStore.getCheckMaterials;
  await checkMatStore.addCheckMatDetails;
});

// const reloadNav = () => {
//   location.reload();
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog
      width="800"
      v-model="checkMatStore.dialogShowMatDetail"
      :scrim="false"
      transition="dialog-bottom-transition"
    >
      <v-card class="pa-10" :elevation="15">
        <!-- <v-toolbar dark color="brown-darken-2">
          <v-btn icon dark @click="checkMatStore.dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>

          <v-toolbar-title>Check Material</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              elevation="2"
              variant="flat"
              color="green"
              class="mx-0 pl-10 pr-10"
              @click="checkMatStore.savecheckMaterial()"
            >
              Save
            </v-btn>
            <v-btn
              elevation="2"
              variant="flat"
              color="light-blue-darken-2"
              class="pl-10 pr-10"
              @click="checkMatStore.navDrawCheckMat = true"
              >Add</v-btn
            >
          </v-toolbar-items>
        </v-toolbar> -->

        <v-container>
          <v-table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity Last</th>
                <th>Quantity Remain</th>
                <th>Quantity Expire</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of checkMatStore.checkMatD" :key="item.cmd_id">
                <td>{{ item.cmd_id }}</td>
                <td>{{ item.cmd_name }}</td>
                <td>{{ item.cmd_qty_last }}</td>
                <td>{{ item.cmd_qty_remain }}</td>
                <td>{{ item.cmd_qty_expire }}</td>
              </tr>
            </tbody>
          </v-table>

          <v-btn
            color="error"
            style="position: absolute; bottom: 0; right: 0"
            @click="checkMatStore.dialogShowMatDetail = false"
            >Close</v-btn
          >
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>
