<!-- Check mat -->
<script lang="ts" setup>
import { useCheckMaterialStore } from "@/stores/checkMaterislDetail";
import ConfirmDialog from "../ConfirmDialog.vue";
import { onMounted, ref } from "vue";
import CheckMatDetailShow from "./CheckMatDetailShow.vue";
const checkMatStore = useCheckMaterialStore();
const confirmDlg = ref();
onMounted(async () => {
  await checkMatStore.getCheckMaterials();
});

const deleteCheckMaterial = async (mat_id: number) => {
  try {
    await confirmDlg.value.openDialog(`คุณต้องการลบ ID ที่ ${mat_id} หรือไม่`);
    await checkMatStore.deleteCheckMat(mat_id);
  } catch (e) {
    /*empty*/
  }
};
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="89px">
            <v-container>
              <v-row class="mt-1">
                <v-col>
                  <div class="font-color">Check Material</div>
                </v-col>
                <CheckMatNav />
                <CheckMatDetailShow />
              </v-row>
            </v-container>
          </v-card>
        </v-row>
      </v-container>
      <!-- Show List Stock -->

      <v-container>
        <v-row>
          <v-card color="#3C2317" width="100%" class="v-card-round">
            <v-table fixed-header height="78.3vh" class="rounded-lg">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Employee</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item of checkMatStore.checkMat"
                  :key="item.check_mat_id"
                >
                  <td>{{ item.check_mat_id }}</td>
                  <td>{{ item.check_mat_date }}</td>
                  <td>{{ item.check_mat_time }}</td>
                  <td>{{ item.employee?.name }}</td>

                  <td>
                    <v-btn
                      class="ma-2"
                      variant="text"
                      icon="mdi-delete-circle"
                      color="red-lighten-2"
                      @click="deleteCheckMaterial(item.check_mat_id!)"
                    ></v-btn>

                    <v-btn
                      class="ma-2"
                      variant="text"
                      icon="mdi-eye-outline"
                      @click="
                        checkMatStore.getcheckMaterialById(item.check_mat_id!)
                      "
                    ></v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
        </v-row>
      </v-container>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}

.green-bg {
  background-color: #d8f3dc;
}

.blue-bg {
  background-color: #cfe1f2;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
}

.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
</style>
