<script lang="ts" setup>
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import MaterialNav from "./MaterialNav.vue";
import ConfirmDialog from "../ConfirmDialog.vue";
import { useCheckMaterialStore } from "@/stores/checkMaterislDetail";
import CheckMaterialDialog from "./CheckMaterialDialog.vue";
import { useBillStore } from "@/stores/bill";
import BillDialog from "../bill/BillDialog.vue";
const materialStore = useMaterialStore();
const checkMatStore = useCheckMaterialStore();
const confirmDlg = ref();
const billStore = useBillStore();

onMounted(async () => {
  await materialStore.getMaterials();
});

const deleteMaterial = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่`
    );
    await materialStore.deleteMaterial(id);
  } catch (e) {
    /* empty */
  }
};
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <CheckMaterialDialog />
      <MaterialNav />
      <BillDialog></BillDialog>

      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card class="rounded" color="#3C2317" width="100%" height="25vh">
            <v-row class="mt-6">
              <v-col cols="4">
                <v-hover v-slot="{ isHovering, props }" close-delay="200">
                  <v-card
                    :elevation="isHovering ? 6 : 2"
                    :class="{ 'on-hover': isHovering }"
                    class="mx-auto bg-num"
                    v-bind="props"
                    width="300px"
                    height="90px"
                    style="border: 3px solid #66bb6a; background-color: #fff"
                  >
                    <v-card-item title="จำนวนสินค้าที่พร้อมขาย">
                      <template v-slot:subtitle>
                        <v-icon
                          icon="mdi-coffee-maker-check"
                          size="30"
                          color="green-darken-4"
                          class="me-1 pb-1"
                        ></v-icon>
                      </template> </v-card-item
                  ></v-card>
                </v-hover>
              </v-col>

              <v-col cols="4">
                <v-hover v-slot="{ isHovering, props }" close-delay="200">
                  <v-card
                    :elevation="isHovering ? 6 : 2"
                    :class="{ 'on-hover': isHovering }"
                    class="mx-auto bg-warn"
                    v-bind="props"
                    width="300px"
                    height="90px"
                    style="border: 3px solid #ffe082; background-color: #fff"
                  >
                    <v-card-item title="จำนวนสินค้าที่ใกล้หมด">
                      <template v-slot:subtitle>
                        <v-icon
                          icon="mdi-alert"
                          size="30"
                          color="yellow-darken-4"
                          class="me-1 pb-1"
                        ></v-icon>
                      </template> </v-card-item
                  ></v-card> </v-hover
              ></v-col>

              <v-col cols="4">
                <v-hover v-slot="{ isHovering, props }" close-delay="200"
                  ><v-card
                    :elevation="isHovering ? 6 : 2"
                    :class="{ 'on-hover': isHovering }"
                    class="mx-auto"
                    v-bind="props"
                    width="300px"
                    height="90px"
                    style="border: 3px solid #ef5350; background-color: #fff"
                  >
                    <v-card-item title="จำนวนสินค้าที่หมดแล้ว">
                      <template v-slot:subtitle>
                        <v-icon
                          icon="mdi-coffee-off"
                          size="30"
                          color="red-darken-4"
                          class="me-1 pb-1"
                        ></v-icon>
                      </template> </v-card-item
                  ></v-card>
                </v-hover>
              </v-col>
            </v-row>

            <v-row>
              <v-space></v-space>
              <v-col
                class="d-flex justify-center align-center ma-2 ml-lg-16 pa-2"
              >
                <div style="width: 500px">
                  <v-text-field
                    density="compact"
                    variant="solo"
                    label="Search"
                    append-inner-icon="mdi-magnify"
                    single-line
                    @keydown.enter="materialStore.searcMaterial($event)"
                  ></v-text-field>
                </div>
                <v-btn class="ml-5 mb-5 botton" @click="billStore.dialog = true"
                  ><v-icon icon="mdi-package-variant-plus" size="35"></v-icon>
                </v-btn>
                <v-btn
                  class="ml-5 mb-5 botton"
                  @click="checkMatStore.dialog = true"
                  ><v-icon icon="mdi-file-check-outline" size="35"></v-icon
                ></v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-row>
      </v-container>

      <br />
      <!-- Show List Stock -->
      <v-container>
        <v-row>
          <v-card color="#3C2317" width="100%" class="v-card-round">
            <v-table fixed-header height="65vh" class="rounded-lg">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Price Per Unit</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody
                v-for="(item, index) of materialStore.materials"
                :key="item.mat_id"
              >
                <tr
                  :class="[
                    index % 2 === 0
                      ? 'bg-white'
                      : index % 1 === 0
                      ? 'bg-white'
                      : '',
                  ]"
                >
                  <td>{{ item.mat_id }}</td>
                  <td>{{ item.mat_name }}</td>
                  <td>{{ item.mat_quantity }}</td>
                  <td>{{ item.mat_unit }}</td>
                  <td>{{ item.mat_price_per_unit }}</td>
                  <td>
                    <v-icon
                      icon="mdi-coffee-off"
                      v-if="item.mat_quantity === 0"
                      class="ma-2"
                      color="red-darken-2"
                    >
                    </v-icon>
                    <v-icon
                      icon=" mdi-alert"
                      v-else-if="item.mat_quantity <= item.mat_min_quantity"
                      class="ma-2"
                      color="orange-accent-3"
                    >
                    </v-icon>
                    <v-icon
                      icon="mdi-coffee-maker-check"
                      v-else
                      class="ma-2"
                      color="green-darken-1"
                    >
                    </v-icon>
                  </td>

                  <td>
                    <v-btn
                      class="ma-2"
                      variant="text"
                      icon="mdi-pencil-outline"
                      color="green"
                      @click="materialStore.fixMaterial(item)"
                    ></v-btn>
                    <v-btn
                      class="ma-2"
                      variant="text"
                      icon="mdi-delete-circle"
                      color="red"
                      @click="deleteMaterial(item.mat_id!)"
                    ></v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
        </v-row>
      </v-container>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}
.green-bg {
  background-color: #d8f3dc;
}

.blue-bg {
  background-color: #cfe1f2;
}

.botton {
  background-color: #5cd76bcf;
  color: rgb(255, 255, 255);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.bg-num {
  background-color: #aed09e;
}

.bg-warn {
  background-color: #f4eec0;
}
</style>
