<!-- Check mat -->
<script lang="ts" setup>
// import { useCheckMaterialStore } from "@/stores/checkMaterislDetail";
import { useMaterialStore } from "@/stores/material.js";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await materialStore.saveMaterial();
  }
}
onMounted(async () => {
  await materialStore.getMaterials();
});
const materialStore = useMaterialStore();
</script>

<template>
  <v-navigation-drawer
    elevation="7"
    v-model="materialStore.navDraw"
    location="right"
    width="450"
  >
    <!-- Detail item in stock -->
    <v-card class="ma-5" width="400" color="brown-darken-1" rounded="lg">
      <v-card-title>Detail</v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-row>
            <v-col cols="12">
              <v-autocomplete
                variant="outlined"
                color="brown-darken-3"
                label="Material Name*"
                required
                v-model="materialStore.editMaterial.mat_name"
                :item="materialStore.materials"
              ></v-autocomplete>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Material Quantity*"
                v-model="materialStore.editMaterial.mat_quantity"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Material Unit*"
                required
                v-model="materialStore.editMaterial.mat_unit"
                :rules="[(v) => !!v || 'Item is require']"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Material Min*"
                required
                v-model="materialStore.editMaterial.mat_min_quantity"
                :rules="[(v) => !!v || 'Item is require']"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Material Price Per Unit*"
                required
                v-model="materialStore.editMaterial.mat_price_per_unit"
                :rules="[(v) => !!v || 'Item is require']"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          class="ma-2"
          icon="mdi-close-circle"
          color="red-lighten-2"
          size="x-large"
          @click="materialStore.navDraw = false"
        ></v-btn>
        <v-btn
          class="ma-2"
          icon="mdi-checkbox-marked-circle"
          color="green-lighten-1"
          size="x-large"
          @click="save"
        >
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-navigation-drawer>
</template>
