<script lang="ts" setup>
import { useStoreStore } from "@/stores/store";
import { onMounted, ref } from "vue";
import StoreDialog from "./StoreDialog.vue";
import ConfirmDialog from "../ConfirmDialog.vue";
const storeStore = useStoreStore();
const confirmDlg = ref();

onMounted(async () => {
  await storeStore.getStores();
});

const deleteStore = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่`
    );
    await storeStore.deleteStore(id);
  } catch (e) {
    /* empty */
  }
};
</script>
<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <StoreDialog></StoreDialog>
      <!-- 1 -->
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6"><div class="font-color">Store</div></v-col>
                  <v-col>
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      style="width: 400px"
                      @keydown.enter="storeStore.searchStore($event)"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="storeStore.dialog = true"
                      class="botton"
                      prepend-icon="mdi-storefront-plus"
                    >
                    </v-btn>
                  </v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>
        </v-row>

        <!-- ตาราง -->
        <br />
        <v-container>
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Tel.</th>

                    <th>Operations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of storeStore.stores" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.tel }}</td>

                    <td>
                      <v-btn
                        icon="mdi-storefront-edit"
                        variant="text"
                        size="normal"
                        color="green"
                        @click="storeStore.editStore(item)"
                      ></v-btn>
                      <v-btn
                        icon="mdi-delete-forever"
                        variant="text"
                        size="normal"
                        color="error"
                        @click="deleteStore(item.id!)"
                      ></v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
      <!-- 1 -->
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}
.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}
</style>
