<script lang="ts" setup>
import { useStoreStore } from "@/stores/store";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const storeStore = useStoreStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await storeStore.saveStore();
  }
}
</script>
<template>
  <VDialog v-model="storeStore.dialog" persistent width="1024">
    <VCard>
      <VCardTitle>
        <span class="text-h5">Store</span>
      </VCardTitle>
      <VCardText>
        <VForm ref="form">
          <VContainer>
            <VRow>
              <VCol cols="12">
                <VTextField
                  label="Name*"
                  required
                  v-model="storeStore.editedStore.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></VTextField>
              </VCol>

              <VCol cols="12">
                <VTextField
                  label="Address*"
                  required
                  v-model="storeStore.editedStore.address"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 10 || 'Length must be lenght 10',
                  ]"
                ></VTextField>
              </VCol>

              <VCol cols="12">
                <VTextField
                  label="Tel*"
                  required
                  v-model="storeStore.editedStore.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must be lenght 10',
                  ]"
                ></VTextField>
              </VCol>
            </VRow>
          </VContainer>
        </VForm>
        <small>*indicates required field</small>
      </VCardText>
      <VCardActions>
        <VSpacer></VSpacer>
        <VBtn
          color="blue-darken-1"
          variant="text"
          @click="storeStore.dialog = false"
        >
          Close
        </VBtn>
        <VBtn color="blue-darken-1" variant="text" @click="save"> Save </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>
