<script lang="ts" setup>
import { useBillStore } from "@/stores/bill";
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const billStore = useBillStore();
const materialStore = useMaterialStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await billStore.addBill();
  }
}

onMounted(async () => {
  await materialStore.getMaterials();
});
</script>

<template>
  <v-spacer></v-spacer>
  <v-navigation-drawer
    elevation="7"
    v-model="billStore.navDraw"
    location="right"
    width="450"
  >
    <v-card
      class="ma-5 text-center"
      width="400"
      color="brown-darken-1"
      rounded="lg"
    >
      <!-- {{ billStore.editedBill }} -->

      <v-card-title>Select Materials</v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-row>
            <v-col cols="12">
              <v-autocomplete
                label="Material"
                :items="materialStore.materials"
                item-title="mat_name"
                v-model="billStore.temp"
                return-object
              ></v-autocomplete>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Amount*"
                v-model="billStore.editedBill.amount"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Price*"
                required
                v-model="billStore.editedBill.price"
              ></v-text-field>
            </v-col>

            <!-- <v-col cols="12">
              <v-text-field
                variant="outlined"
                color="brown-darken-3"
                label="Total*"
                required
                v-model="billStore.editedBill.total"
              ></v-text-field>
            </v-col> -->
          </v-row>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          class="ma-2"
          color="red-lighten-2"
          @click="billStore.navDraw = false"
          ><v-icon icon="mdi-close-circle" size="35"></v-icon
        ></v-btn>
        <v-btn class="ma-2" color="green-lighten-1" @click="save"
          ><v-icon icon="mdi-checkbox-marked-circle" size="35"></v-icon>
        </v-btn>
      </v-card-actions>
      <!-- {{ billStore.temp }} -->
    </v-card>
  </v-navigation-drawer>
</template>
