<script setup lang="ts">
import { useBillStore } from "@/stores/bill";
import BillNav from "./BillNav.vue";

const billStore = useBillStore();
</script>

<template>
  <v-dialog
    v-model="billStore.dialog"
    fullscreen
    :scrim="false"
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar dark color="brown-darken-2">
        <v-btn icon dark @click="billStore.dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>

        <v-toolbar-title>Add Bill</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            color="green"
            variant="flat"
            class="max-0 pl-10 pr-10"
            @click="billStore.navDraw = true"
            ><v-icon icon="mdi-receipt-text-plus" size="35"></v-icon>Add</v-btn
          >
          <v-btn
            color="light-blue-darken-2"
            variant="flat"
            class="max-0 pl-10 pr-10"
            @click="billStore.saveBill"
          >
            <v-icon icon="mdi-receipt-text-check" size="35"></v-icon>
            Save</v-btn
          >
        </v-toolbar-items>
      </v-toolbar>

      <v-container>
        <v-card
          class="ma-5 text-center"
          height="100px"
          color="brown-darken-1"
          rounded="lg"
        >
          <v-card-text>
            <v-form>
              <v-container>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      variant="outlined"
                      color="white"
                      label="Shop Name*"
                      v-model="billStore.billHeader.shop_name"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" md="4">
                    <v-text-field
                      variant="outlined"
                      color="brown-darken-3"
                      label="Buy*"
                      v-model="billStore.billHeader.buy"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" md="4">
                    <v-text-field
                      variant="outlined"
                      color="brown-darken-3"
                      label="Employee Id*"
                      v-model="billStore.billHeader.employeeId"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>

        <v-spacer></v-spacer>

        <v-table fixed-header height="480px" class="rounded-lg">
          <thead>
            <tr>
              <th class>Name</th>
              <th class>Amount</th>
              <th class>Price</th>
              <th class>Total</th>
              <th class></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in billStore.BillDetail" :key="item.materialId">
              <td>{{ item.name }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.amount * item.price }}</td>
              <td>
                <!-- <v-btn
                  class="ma-2"
                  variant="text"
                  icon="mdi-delete-circle"
                  color="red"
                  @click="removeMat(item.mat_id!)"
                ></v-btn> -->
              </td>
            </tr>
          </tbody>
        </v-table></v-container
      ></v-card
    >
    <BillNav></BillNav>
  </v-dialog>
</template>
