<script lang="ts" setup>
import { useBillStore } from "@/stores/bill";
import { onMounted, ref } from "vue";
import ConfirmDialog from "../ConfirmDialog.vue";
import BillDialog from "./BillDialog.vue";
const billStore = useBillStore();

const confirmDlg = ref();

onMounted(async () => {
  await billStore.getBills();
});

const deleteBill = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ID ที่ ${id} หรือไม่`
    );
    await billStore.deleteBill(id);
  } catch (e) {
    console.log(e);
  }
};
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <BillDialog></BillDialog>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="89px">
            <v-container>
              <v-row class="mt-1">
                <v-col><div class="font-color">Bill</div></v-col>
                <v-col>
                  <div style="width: 500px">
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                    ></v-text-field>
                  </div>
                </v-col>

                <v-col>
                  <div>
                    <v-btn @click="billStore.dialog = true" class="botton"
                      >Add New</v-btn
                    >
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-row>

        <br />
        <v-container class="rounded-lg">
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table width="200" fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Shop Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Total</th>
                    <th>Buy</th>
                    <th>Change</th>
                    <th>Operations</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of billStore.Bill" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.shop_name }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.buy }}</td>
                    <td>{{ item.change }}</td>
                    <td>
                      <v-btn
                        class="ma-2"
                        variant="text"
                        icon="mdi-delete-circle"
                        color="red-lighten-2"
                        @click="deleteBill(item.id!)"
                      ></v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
.green-bg {
  background-color: #d8f3dc;
}

.blue-bg {
  background-color: #cfe1f2;
}

.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
}

.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}
</style>
