<script lang="ts" setup>
import { useSalaryStore } from "@/stores/salary";
import type Salary from "@/types/Salary";
import { onMounted, ref } from "vue";

const ssStore = useSalaryStore();

onMounted(async () => {
  await ssStore.getSalaryBySt("UnPaid");
});
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <!-- 1 -->
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6"
                    ><div class="font-color">Salary History</div></v-col
                  >
                  <v-col>
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      style="width: 400px"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>
        </v-row>

        <!-- ตาราง -->
        <br />
        <v-container>
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>EmpID</th>
                    <th>Name</th>
                    <th>Work Hour</th>
                    <th>Date</th>
                    <th>Salary</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of ssStore.salarys" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.checkinout?.employee?.name }}</td>
                    <td>{{ item.workhour }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.salary }}</td>
                    <td>
                      <span
                        :class="{
                          'status paid': item.status === 'Paid',
                          'status unpaid': item.status === 'UnPaid',
                        }"
                      >
                        {{ item.status }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
      <!-- 1 -->
    </v-row>
  </v-img>
</template>

<style scoped>
.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.paid {
  background-color: green;
}

.unpaid {
  background-color: red;
}

button {
  background-color: rgb(115, 230, 128);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}
.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}
</style>
