<script setup lang="ts">
const userString = localStorage.getItem("user") || "";
const emailString = localStorage.getItem("email");
const nameString = localStorage.getItem("name");
const roleString = localStorage.getItem("role");
const user = JSON.parse(userString);
</script>

<template>
  <v-app-bar color="#3C2317" :elevation="3">
    <v-img
      class="ma-3"
      src="https://media.discordapp.net/attachments/1014072451187085332/1016573129696485446/25.png?width=662&height=662"
      max-height="90"
      max-width="50"
    ></v-img>
    <v-app-bar-title class="font-weight-bold text-white"
      >D-COFFEE</v-app-bar-title
    >
    <v-spacer></v-spacer>

    <div>
      <v-list-item
        :prepend-avatar="`http://localhost:3000/employee/image/${user.employee?.image}`"
        :title="`${nameString}`"
        :subtitle="`${roleString}`"
        class="font-color"
      ></v-list-item>
    </div>
  </v-app-bar>
</template>

<style scoped>
.font-color {
  font-weight: bolder;
  color: aliceblue;
}
</style>
