<script setup lang="ts">
import { ref } from "vue";

const drawer = ref(true);
const rail = ref(true);
const roleString = localStorage.getItem("role");
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-btn
      variant="text"
      icon="mdi-chevron-left"
      @click.stop="rail = !rail"
    ></v-btn>
    <v-divider></v-divider>
    <v-list density="compact" nav v-if="roleString == 'Staff'">
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Dashbord"
        value="dashbord"
        to="/"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-cash-register"
        title="Point Of Sale"
        value="pos"
        to="/pos"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi mdi-clipboard-text-clock"
        title="Sales history"
        value="history"
        to="/history"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food"
        title="Product"
        value="product"
        to="/product"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-basket-outline"
        title="Material"
        value="material"
        to="/material"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-basket-check-outline"
        title="CheckMaterial"
        value="checkmaterial"
        to="/checkMaterial"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-receipt-text-check"
        title="Bill"
        value="bill"
        to="/bill"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-group"
        title="Employee"
        value="employee"
        to="/employee"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account"
        title="User"
        value="user"
        to="/user"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-plus"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-storefront"
        title="Store"
        value="store"
        to="/store"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-timer-check"
        title="Check In - Check Out"
        value="cio"
        to="/cio"
      ></v-list-item>
    </v-list>

    <v-list density="compact" nav v-if="roleString == 'Manager'">
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Dashbord"
        value="dashbord"
        to="/"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-cash-register"
        title="Point Of Sale"
        value="pos"
        to="/pos"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi mdi-clipboard-text-clock"
        title="Sales history"
        value="history"
        to="/history"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-food"
        title="Product"
        value="product"
        to="/product"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-basket-outline"
        title="Material"
        value="material"
        to="/material"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-basket-check-outline"
        title="Check Material"
        value="checkmaterial"
        to="/checkMaterial"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-receipt-text-check"
        title="Bill"
        value="bill"
        to="/bill"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-group"
        title="Employee"
        value="employee"
        to="/employee"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account"
        title="User"
        value="user"
        to="/user"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-plus"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-storefront"
        title="Store"
        value="store"
        to="/store"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-timer-check"
        title="Check in - Check out"
        value="cio"
        to="/cio"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-clock-time-five"
        title="Check in - Check out History"
        value="ciohistory"
        to="/ciohistory"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-group"
        title="Salary"
        value="salary"
        to="/salary"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-group"
        title="Salary History"
        value="salaryhistory"
        to="/salaryhistory"
      ></v-list-item>
    </v-list>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn color="error" block prepend-icon="mdi-logout" to="/login">
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>
