<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import ProductDialog from "./ProductDialog.vue";
import ConfirmDialog from "../ConfirmDialog.vue";

const productStore = useProductStore();
const confirmDlg = ref();
const select = ref("All");

onMounted(async () => {
  await productStore.getProducts();
});

async function onCategoryChange(cat: String) {
  switch (cat) {
    case "All":
      await productStore.getProducts();
      productStore.category = 0;
      break;
    case "Drinks":
      await productStore.getProductsByCategory(1);
      productStore.category = 1;
      break;
    case "Food":
      await productStore.getProductsByCategory(2);
      productStore.category = 2;
      break;
    case "Bakery":
      await productStore.getProductsByCategory(3);
      productStore.category = 3;
      break;
  }
}

const deleteProduct = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่`
    );
    await productStore.deleteProduct(id);
  } catch (e) {
    /* empty */
  }
};
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <ProductDialog></ProductDialog>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="89px">
            <v-container>
              <v-row class="mt-1">
                <v-col><div class="font-color">Product</div></v-col>
                <v-col>
                  <div style="width: 250px">
                    <v-select
                      density="compact"
                      label="Category"
                      :items="['All', 'Drinks', 'Food', 'Bakery']"
                      variant="solo"
                      @update:modelValue="onCategoryChange"
                      v-model="select"
                    ></v-select>
                  </div>
                </v-col>
                <v-col>
                  <div style="width: 450px">
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      @keydown.enter="
                        productStore.searchProduct(
                          $event,
                          productStore.category
                        )
                      "
                    ></v-text-field>
                  </div>
                </v-col>

                <v-col>
                  <div>
                    <v-btn @click="productStore.dialog = true" class="botton"
                      >Add New</v-btn
                    >
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-row>

        <br />
        <v-container>
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>type</th>
                    <th>size</th>

                    <th>Operations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of productStore.products" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>
                      <v-img
                        :src="`http://localhost:3000/products/image/${item.image}`"
                      ></v-img>
                      <!-- เรียกตัวservice -->
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.size }}</td>

                    <td>
                      <v-btn
                        color="green-darken-1"
                        class="mr-5"
                        @click="productStore.editProduct(item)"
                        >Edit</v-btn
                      ><v-btn
                        @click="deleteProduct(item.id!)"
                        color="red-darken-2"
                        >Delete</v-btn
                      >
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
}

.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
</style>
