<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted, ref } from "vue";
import CustomerDialog from "./CustomerDialog.vue";
import ConfirmDialog from "../ConfirmDialog.vue";

const customerStore = useCustomerStore();
const confirmDlg = ref();
onMounted(async () => {
  await customerStore.getCustomers();
});

const deleteCustomer = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่`
    );
    await customerStore.deleteCustomer(id);
  } catch (e) {
    /* empty */
  }
};

const show = ref(false);

const tab = ref(null);
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <CustomerDialog></CustomerDialog>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6"><div class="font-color">Customer</div></v-col>
                  <v-col>
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      style="width: 400px"
                      @keydown.enter="customerStore.searchCus($event)"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="customerStore.dialog = true"
                      class="botton"
                      prepend-icon="mdi-account-multiple-plus"
                    >
                    </v-btn>
                  </v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>
        </v-row>

        <br />
        <v-container>
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Tel.</th>
                    <th>Operations</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of customerStore.customers" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.tel }}</td>
                    <td>
                      <v-btn
                        class="ma-2"
                        variant="text"
                        icon="mdi-pencil-outline"
                        color="green"
                        @click="customerStore.editCustomer(item)"
                      ></v-btn
                      ><v-btn
                        class="ma-2"
                        variant="text"
                        icon="mdi-delete-circle"
                        color="red"
                        @click="deleteCustomer(item.id!)"
                      ></v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}
.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}
</style>
