<script setup lang="ts">
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
const dialog = ref(false);
const CASH = ref("");
const orderStore = useOrderStore();
</script>

<template>
  <div class="text-center">
    <v-dialog v-model="orderStore.dialogInvoice" width="auto">
      <template v-slot:activator="{ props }">
        <v-btn
          v-bind="props"
          pill
          outlined
          class="btn-payment"
          color="brown-darken-1"
          style="height: 45px; width: 110px"
        >
          <div class="btn-top">
            <v-icon icon="mdi-cash" size="x-large"></v-icon>
          </div>
          <div>
            <v-card-text class="text-center mt-2">
              <strong>Cash</strong>
            </v-card-text>
          </div>
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
          <span class="text-h5">Cash</span>
        </v-card-title>
        <v-card-text>
          <v-sheet width="300" class="mx-auto">
            <v-form @submit.prevent>
              <v-text-field
                label="Cash"
                v-model="CASH"
                prefix="฿"
              ></v-text-field>
              <v-btn
                type="submit"
                block
                class="mt-2"
                color="green"
                @click="dialog = false"
                >Confirm</v-btn
              >
            </v-form>
          </v-sheet>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
.btn-top {
  position: absolute;
  top: 0;
}
</style>
