<script setup lang="ts">
import { ref } from "vue";

const dialog = ref(false);
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="500">
      <template v-slot:activator="{ props }">
        <v-btn
          v-bind="props"
          pill
          outlined
          class="btn-payment botton-cash"
          style="height: 45px; width: 110px"
        >
          <div class="btn-top">
            <v-icon icon="mdi-credit-card" size="x-large"></v-icon>
          </div>
          <div>
            <v-card-text class="text-center mt-2">
              <strong>Credit Card</strong>
            </v-card-text>
          </div>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <div>
            <span class="text-h5">Credit/Debit</span>

            <v-img src="/img/55555.png" width="180" class="img-right"></v-img>

            <v-img src="/img/cc.png" width="180" class="img-right"></v-img>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <p>Credit/debit card number</p>
                <v-text-field
                  label="0000 0000 0000 0000"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 16 || 'Length must be lenght 16',
                  ]"
                  clearable
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <p>expiration date</p>
                <v-text-field
                  label="MM/YY"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 4 || 'Length must be lenght 4',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <p>CCV</p>
                <v-text-field
                  label="000"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 3 || 'Length must be lenght 3',
                  ]"
                ></v-text-field>
              </v-col>

              <v-row>
                <v-col cols="12">
                  <p>Name on card</p>
                  <v-text-field
                    label="Name"
                    required
                    clearable
                    :rules="[
                      (v) => !!v || 'Item is required',
                      (v) => v.length >= 3 || 'Length must be lenght 3',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <p>Name on card</p>
                  <v-text-field
                    label="Name"
                    required
                    clearable
                    :rules="[
                      (v) => !!v || 'Item is required',
                      (v) => v.length >= 3 || 'Length must be lenght 3',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.btn-top {
  position: absolute;
  top: 0;
}

.img-right {
  float: right;
}

.img-container {
  background-color: transparent;
  display: inline-block;
}
.botton-cash {
  background-color: #854836;
  color: rgb(255, 255, 255);
}

.botton-cash:hover {
  background-color: #f5b553;
  color: black;
}
</style>
