<script setup lang="ts">
import { ref } from "vue";

const dialog = ref(false);
</script>

<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent width="500">
      <template v-slot:activator="{ props }">
        <v-btn
          v-bind="props"
          pill
          outlined
          class="btn-payment botton-cash"
          style="height: 45px; width: 110px"
        >
          <div class="btn-top">
            <v-icon icon="mdi-qrcode" size="x-large"></v-icon>
          </div>
          <div>
            <v-card-text class="text-center mt-2">
              <strong>QRcode</strong>
            </v-card-text>
          </div>
        </v-btn>
      </template>

      <v-card>
        <v-card-text>
          <v-img src="/img/Qr.png"></v-img>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
.btn-top {
  position: absolute;
  top: 0;
}

.botton-cash {
  background-color: #854836;
  color: rgb(255, 255, 255);
}

.botton-cash:hover {
  background-color: #f5b553;
  color: black;
}
</style>
