<script lang="ts" setup>
import { useCheckInOut } from "@/stores/checkInOut";
import { onMounted, ref } from "vue";

const CioStore = useCheckInOut();
const email = localStorage.getItem("email");
const isCheckedIn = ref(false);

onMounted(async () => {
  await CioStore.getCio();
  await CioStore.check(email!);
  // await CioStore.check()
  // set isCheckedIn to true if the user has already checked in today
  isCheckedIn.value = CioStore.cio.some(
    (item) => item.date === new Date().toLocaleDateString()
  );
});
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <!-- 1 -->
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6"
                    ><div class="font-color">
                      Check in - Check out History
                    </div></v-col
                  >
                  <v-col>
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      style="width: 400px"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>
        </v-row>

        <!-- ตาราง -->
        <br />
        <v-container>
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time-In</th>
                    <th>Time-Out</th>
                    <th>Total-Hour</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of CioStore.cio" :key="item.id">
                    <td>{{ item.employee?.id }}</td>
                    <td>{{ item.employee?.name }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.time_in }}</td>
                    <td>{{ item.time_out }}</td>
                    <td>{{ item.total_hour?.toFixed(2) }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
      <!-- 1 -->
    </v-row>
  </v-img>
</template>

<style scoped>
.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}
.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}
</style>
