<script setup lang="ts">
import { ref } from "vue";

const dialog = ref(false);
const title = ref("Title");
const desc = ref("Desc");
const ok = ref("Ok");
const cancle = ref("Cancle");
let onOk: (value: unknown) => void;
let onCancle: (reason?: any) => void;
const openDialog = (
  titleStr: string,
  descStr: string,
  okStr: string = "Ok",
  cancleStr: string = "Cancle"
) => {
  title.value = titleStr;
  desc.value = descStr;
  ok.value = okStr;
  cancle.value = cancleStr;
  dialog.value = true;
  return new Promise((resolve, reject) => {
    onOk = resolve;
    onCancle = reject;
  });
};
defineExpose({ openDialog });
function cancleFunc() {
  dialog.value = false;
  onCancle("Cancle");
}
function okFunc() {
  dialog.value = false;
  onOk("Ok");
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="auto">
      <!-- <template v-slot:activator="{ props }">
        <v-btn color="primary" v-bind="props"> Open Dialog </v-btn>
      </template> -->
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>{{ desc }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green-darken-1" variant="text" @click="cancleFunc">
            {{ cancle }}
          </v-btn>
          <v-btn color="green-darken-1" variant="text" @click="okFunc">
            {{ ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
