<script setup lang="ts">
// import Graph from "@/components/Graph.vue.js";
// import Chart from "@/components/Chart.vue.js";
// import Butterfly from "@/components/Butterfly.vue.js";
import Linegraph from "@/components/Chartgraph/Linegraph.vue";
import Chart from "@/components/Chartgraph/Chart.vue";
import Graph from "@/components/Chartgraph/Graph.vue";
</script>
<template>
  <v-layout class="bg-color">
    <v-row>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6"><div class="font-color">Dashbord</div></v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>

          <v-container>
            <v-row class="justify-center align-center">
              <v-card width="60%" height="80%" variant="outlined">
                <v-card-text class="text-center">
                  <v-layout style="height: 40px; width: 25cm">
                    <v-bottom-navigation active>
                      <!-- v-model="value" -->
                      <v-btn>ยอดขายเดือนนี้</v-btn>

                      <v-btn>ยอดขายต่อปี</v-btn>

                      <v-btn>ยอดขายย้อนหลัง</v-btn>
                    </v-bottom-navigation>
                  </v-layout>
                  <div>
                    <p class="text-align: left">ยอดขาย</p>
                  </div>
                  <Linegraph></Linegraph>
                </v-card-text>
              </v-card>
            </v-row>
          </v-container>
        </v-row>

        <v-row>
          <v-col>
            <v-card
              class="mx-auto"
              width="100%"
              height="100%"
              variant="outlined"
            >
              <v-card-text class="text-center" ma-5 pa-5>
                <Graph></Graph>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="6">
            <v-card
              class="mx-auto"
              width="100%"
              height="100%"
              variant="outlined"
            >
              <v-card-text class="text-center" ma-5 pa-5>
                <Chart></Chart>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-row>
  </v-layout>
</template>

<style scoped>
/* .bg {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 180, 111, 1) 50%,
    rgba(112, 59, 59, 1) 100%
  );
} */

.bg-color {
  background-color: #ffffff;
  min-height: 93vh;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}
</style>
