<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";

const authStore = useAuthStore();
const showPassword = ref(false);
const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <v-img
      src="https://cdn.discordapp.com/attachments/1009486872185151530/1084429495542485073/Untitled79_20230312175530.png"
    >
      <v-main style="padding-top: 70px">
        <v-card
          height="550"
          width="1000px"
          class="mx-auto"
          image="https://cdn.discordapp.com/attachments/1009486872185151530/1084434719627821096/Untitled79_20230312181620.png"
        >
          <h1 class="textdcoffee">D-COFFEE</h1>

          <v-row>
            <v-col>
              <v-img
                src="https://www.pngmart.com/files/21/Coffee-Beans-PNG-Image.png"
                max-height="280"
                max-width="280"
                class="justify-center mx-auto"
              ></v-img>
              <h5 class="textp" style="padding-left: 90px">
                *୨୧ ┈┈┈┈┈┈┈┈┈┈┈┈ ୨୧*
              </h5>
              <h3 class="textslogan1" style="padding-left: 50px">
                Awake your dreams with a cup of
              </h3>
              <br />
              <h3 class="textslogan2" style="padding-left: 190px">'coffee'</h3>
            </v-col>

            <v-col>
              <v-img
                src="https://cdn.discordapp.com/attachments/1014072451187085332/1061663574746992640/25_20220830154543.png"
                max-height="100"
                max-width="100"
                class="justify-center mx-auto"
              ></v-img>
              <v-card-text>
                <h3 class="textpls">Please login to your account</h3>
                <br />
                <p class="textp">Email</p>
                <v-form ref="form" v-model="valid">
                  <v-text-field
                    density="compact"
                    label="Email"
                    single-line
                    hide-details
                    v-model="loginName"
                    prepend-inner-icon="mdi-email-outline"
                    :rules="[
                      (v) => !!v || 'Email is required',
                      (v) =>
                        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(
                          v
                        ) || 'Email is not valid!!',
                    ]"
                    required
                  ></v-text-field>
                  <br />
                  <p class="textp">Password</p>
                  <!-- <v-text-field
                    density="compact"
                    label="Password"
                    single-line
                    hide-details
                    type="password"
                    v-model="password"
                    :rules="[
                      (v) => !!v || 'Password is required',
                      (v) =>
                        v.length >= 8 ||
                        'Password must be more than or equal 8 characters',
                    ]"
                    required
                  ></v-text-field> -->
                  <v-text-field
                    :append-inner-icon="
                      showPassword ? 'mdi-eye-off' : 'mdi-eye'
                    "
                    :type="showPassword ? 'text' : 'password'"
                    density="compact"
                    placeholder="Enter your password"
                    prepend-inner-icon="mdi-lock-outline"
                    @click:append-inner="showPassword = !showPassword"
                    v-model="password"
                    :rules="[
                      (v) => !!v || 'Password is required',
                      (v) =>
                        v.length >= 8 ||
                        'Password must be more than or equal 8 characters',
                    ]"
                    required
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="justify-center">
                <v-btn
                  variant="tonal"
                  color="#492106"
                  class="textbt"
                  @click="login"
                  height="50"
                  width="150"
                  >Login</v-btn
                >
                <v-btn
                  variant="tonal"
                  color="error"
                  class="textbt"
                  @click="reset"
                  height="50"
                  width="150"
                  >Clear</v-btn
                >
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-main>
    </v-img>
  </v-app>
</template>

<style scoped>
.textdcoffee {
  font-family: Georgia, serif;
  color: #3d2b1f;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  padding-top: 20px;
}

.textpls {
  font-family: Georgia, serif;
  color: #3d2b1f;
  font-size: 22px;
  padding-left: 20px;
}

.textslogan1 {
  font-family: Georgia, serif;
  color: #3d2b1f;
  font-size: 25px;
}

.textslogan2 {
  font-family: Georgia, serif;
  color: #3d2b1f;
  font-size: 29px;
}

.textp {
  font-family: Georgia, serif;
  color: #3d2b1f;
  font-size: 20px;
}

.textbt {
  color: #ffffff;
  font-size: 15px;
}
</style>
