<script setup lang="ts">
import { ref } from "vue";
import { useOrderStore } from "@/stores/order";
import { useProductStore } from "@/stores/product";
const productStore = useProductStore();
const OrderStore = useOrderStore();
const selection = ref();
const select = ref();
const Topping = ref();
</script>

<template>
  <div class="text-center">
    <v-dialog v-model="productStore.dialogAdd" width="650px">
      <v-card
        v-if="productStore.editedProduct.categoryId == 1"
        class="mx-auto pa-10"
      >
        <v-card-text></v-card-text>

        <v-card style="width: 600px; height: 100px" class="mx-auto pa-4 card">
          <p style="color: orange">ระดับความหวาน</p>
          <v-radio-group>
            <v-row>
              <v-col><v-radio label="หวานน้อย" value="1"></v-radio></v-col>
              <v-col><v-radio label="หวานปกติ" value="2"></v-radio></v-col>
              <v-col><v-radio label="หวานจึ้ง" value="3"></v-radio></v-col>
              <v-col><v-radio label="หวานเจี๊ยบ" value="4"></v-radio></v-col
            ></v-row>
          </v-radio-group>
        </v-card>
        <v-card-text></v-card-text>
        <v-card style="width: 600px; height: 100px" class="mx-auto pa-4 card">
          <p style="color: orange">ท็อปปิ้ง</p>
          <v-radio-group>
            <v-row>
              <v-col><v-radio label="วิปครีม" value="1"></v-radio></v-col>
              <v-col><v-radio label="ไข่มุก" value="2"></v-radio></v-col>
              <v-col><v-radio label="เยลลี่" value="3"></v-radio></v-col>
              <v-col><v-radio label="ปีโป้" value="4"></v-radio></v-col>
            </v-row>
          </v-radio-group>
        </v-card>
        <v-card-text></v-card-text>
        <v-card style="width: 600px; height: 100px" class="mx-auto pa-4 card">
          <p style="color: orange">เลือกขนาด</p>
          <v-radio-group>
            <v-row>
              <v-col><v-radio label="S" value="1"></v-radio></v-col>
              <v-col><v-radio label="M" value="2"></v-radio></v-col>
              <v-col><v-radio label="L" value="3"></v-radio></v-col>
              <v-col><v-radio label="XL" value="4"></v-radio></v-col>
            </v-row>
          </v-radio-group>
        </v-card>

        <v-col>
          <v-btn
            @click="OrderStore.addNewOrderItem(productStore.editedProduct)"
            block
            color="primary"
            >Add to cart</v-btn
          ></v-col
        >
      </v-card>

      <!-- ////////////////////////// -->
      <v-card v-if="productStore.editedProduct.categoryId == 2">
        <v-card-text> เพิ่มพิเศษ </v-card-text>
        <v-radio-group>
          <v-radio label="พิเศษ" value="1"></v-radio>
          <v-radio label="ธรรมดา" value="2"></v-radio>
        </v-radio-group>

        <v-col>
          <v-btn
            @click="OrderStore.addNewOrderItem(productStore.editedProduct)"
            block
            color="primary"
            >Add to cart</v-btn
          ></v-col
        >
      </v-card>

      <!-- /////////////////// -->
      <v-card v-if="productStore.editedProduct.categoryId == 3">
        <v-card-text> เพิ่มเติม </v-card-text>
        <v-radio-group>
          <v-radio label="เพิ่มครีม" value="1"></v-radio>
          <v-radio label="เพิ่มท๊อปปิ้ง" value="2"></v-radio>
        </v-radio-group>
        <v-card-text>เลือก 1 อย่าง(ไม่จำเป็นต้องระบุ)</v-card-text>

        <v-radio-group>
          <v-radio label="set a" value="1"></v-radio>
          <v-radio label="set b" value="2"></v-radio>
          <v-radio label="set c" value="3"></v-radio>
        </v-radio-group>

        <v-col>
          <v-btn
            @click="OrderStore.addNewOrderItem(productStore.editedProduct)"
            block
            color="#eae3c8"
            height="40px"
            >Add to cart</v-btn
          ></v-col
        >
      </v-card>
    </v-dialog>
  </div>
</template>
<style scoped>
.custom-chip {
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 15px;
  /* ปรับขนาดของเส้นขอบเป็น 10px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* เพิ่มเงาใต้ขอบ */
}
</style>
