<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { useProductStore } from "@/stores/product";
import { ref, onMounted, computed } from "vue";
import RegisterViewVue from "../Member/RegisterView.vue";
import CreditcardView from "../Payment/CreditcardView.vue";
import QrcodeView from "../Payment/QrcodeView.vue";
import { useCustomerStore } from "@/stores/customer";

const CustomerStore = useCustomerStore();
const productStore = useProductStore();
const OrderStore = useOrderStore();

const dialog = ref(false);
const memdialog = ref(false);

onMounted(async () => {
  await productStore.getProducts();
  //await UserStore.getUsers();
  console.log(OrderStore.sumPrice);
});
const total = computed(() => {
  return Math.max(OrderStore.sumPrice - CustomerStore.discount, 0);
});

const totalchange = computed(() => {
  return Math.max(OrderStore.CASH - total.value, 0);
});

//คำนวนภาษี
const calVAT = computed(() => {
  return (OrderStore.sumPrice * 7) / 100;
});
const confirmDlg = ref();

const dialogBill = async (mat_id: number) => {
  try {
    await confirmDlg.value.openDialog(`คุณต้องการลบสั่งซื้อใช่หรือไม่`);
    await OrderStore.openOrder();
  } catch (e) {
    /*empty*/
  }
};
</script>

<template>
  <v-navigation-drawer location="right" width="480">
    <v-divider></v-divider>
    <v-card class="mx-auto font">
      <v-table fixed-header height="240px">
        <thead>
          <!-- รายการสินค้า -->
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Qty</th>
            <th class="text-center"></th>
            <th class="text-center">Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in OrderStore.OrderView" :key="item.productId">
            <td class="border-bt">
              <v-card variant="text" max-width="100" width="100">
                <p>{{ item.product?.name }}</p>
                <p style="color: gray">{{ item.product?.price }} THB</p>
              </v-card>
            </td>

            <td class="border-bt">
              <v-chip color="brown" text-color="white">
                {{ item.amount }}</v-chip
              >
            </td>

            <td class="border-bt">
              <tbody>
                <tr>
                  <v-btn
                    icon="mdi-plus-box "
                    variant="text"
                    size="small"
                    color="green"
                    @Click="OrderStore.addNewOrderItem(item.product!)"
                  ></v-btn>
                </tr>
                <tr>
                  <v-btn
                    icon="mdi-minus-box-outline"
                    variant="text"
                    size="small"
                    color="error"
                    @Click="OrderStore.RemoveOrderItem(item)"
                  ></v-btn>
                </tr>
              </tbody>
            </td>

            <td class="border-bt font">
              <v-chip color="brown" text-color="white"
                >{{ item.total }} THB
              </v-chip>
            </td>

            <td class="border-bt">
              <v-btn
                icon="mdi-delete-forever "
                class="ml-2"
                variant="text"
                @Click="OrderStore.btnRemoveOrderItem(item)"
              ></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <v-container></v-container>

    <v-container style="height: 165px" class="pt-1 font-color">
      <v-row justify="end"
        ><v-col class="pa-0 ma-1 font-weight-medium">Amount</v-col
        ><v-col cols="4" class="pa-0 text-right font-weight-medium">
          THB</v-col
        ></v-row
      >
      <v-row justify="end"
        ><v-col class="pa-0 ma-1 text-medium-emphasis font"
          >{{ OrderStore.sumAmount }} </v-col
        ><v-col cols="4" class="pa-0 text-right text-medium-emphasis">
          {{ OrderStore.sumPrice }}</v-col
        ></v-row
      >

      <v-divider class="ma-5 border-opacity-25"></v-divider>
      <v-row justify="end" class=""
        ><v-col class="pa-0 ma-1 font-weight-medium">Member</v-col></v-row
      >

      <v-row justify="end" v-if="CustomerStore.findCustomer(OrderStore.tel)">
        <v-col class="pa-0 ma-1 text-medium-emphasis">Name:</v-col>
        <v-col cols="4" class="pa-0 text-right text-medium-emphasis">
          {{ CustomerStore.findCustomer(OrderStore.tel)?.name }}
        </v-col>
      </v-row>

      <v-row justify="end" v-if="CustomerStore.findCustomer(OrderStore.tel)"
        ><v-col class="pa-0 ma-1 text-medium-emphasis">Discount</v-col
        ><v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >{{ CustomerStore.discount }} THB</v-col
        ></v-row
      >

      <v-divider class="ma-5 border-opacity-25"></v-divider>
      <v-row>
        <v-col class="pa-0 ma-1 font-weight-medium">Total</v-col>
        <v-col cols="4" class="pa-0 text-right font-weight-medium"
          >{{ total }} THB</v-col
        >
      </v-row>

      <v-row>
        <v-col class="pa-0 ma-1 text-medium-emphasis">VAT 7%</v-col>
        <v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >{{ calVAT }} THB</v-col
        >
      </v-row>

      <v-row>
        <v-col class="pa-0 ma-1 text-medium-emphasis">Cash</v-col>
        <v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >{{ OrderStore.CASH }} THB</v-col
        >
      </v-row>

      <v-row>
        <v-col class="pa-0 ma-1 text-medium-emphasis">Change</v-col>
        <v-col cols="4" class="pa-0 text-right text-medium-emphasis"
          >{{ totalchange }} THB</v-col
        >
      </v-row>
      <v-divider class="ma-5 border-opacity-25"></v-divider>

      <!-- payment method -->
      <div
        class="d-flex justify-space-around align-center flex-column flex-sm-row mb-5"
      >
        <!--Dialog CASH-->
        <v-dialog v-model="dialog" width="auto">
          <template v-slot:activator="{ props }">
            <v-btn
              v-bind="props"
              pill
              outlined
              class="btn-payment botton-cash"
              style="height: 45px; width: 110px"
            >
              <div class="btn-top">
                <v-icon icon="mdi-cash" size="x-large"></v-icon>
              </div>
              <div>
                <v-card-text class="text-center mt-2">
                  <strong>Cash</strong>
                </v-card-text>
              </div>
            </v-btn>
          </template>

          <v-card>
            <v-card-title>
              <span class="text-h5">Cash</span>
            </v-card-title>
            <v-card-text>
              <v-sheet width="300" class="mx-auto">
                <v-form @submit.prevent>
                  <v-text-field
                    label="Cash"
                    v-model="OrderStore.CASH"
                    prefix="฿"
                    clearable
                  ></v-text-field>
                  <v-btn
                    type="submit"
                    block
                    class="mt-2"
                    color="green"
                    @click="dialog = false"
                    >Confirm</v-btn
                  >
                </v-form>
              </v-sheet>
            </v-card-text>
          </v-card>
        </v-dialog>

        <!--Dialog Creditcard-->
        <CreditcardView></CreditcardView>

        <!--Dialog Qrcode-->
        <QrcodeView></QrcodeView>
      </div>

      <div>
        <v-row>
          <v-col>
            <!-- Dialog SearchMember -->
            <div class="text-center">
              <v-dialog v-model="memdialog" width="auto">
                <template v-slot:activator="{ props }">
                  <v-btn
                    v-bind="props"
                    rounded="lg"
                    class="mb-3 botton-memb"
                    height="40px"
                    width="225px"
                  >
                    MEMBER
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title>
                    <span class="text-h5">Member</span>
                  </v-card-title>
                  <v-card-text>
                    <v-sheet width="300" class="mx-auto">
                      <v-form @submit.prevent>
                        <v-text-field
                          v-model="OrderStore.tel"
                          :rules="[
                            (v) => !!v || 'Item is required',
                            (v) => v.length == 10 || 'Length must be lenght 10',
                          ]"
                          label="Tel"
                          clearable
                        ></v-text-field>
                        <v-btn
                          type="submit"
                          block
                          class="mt-2"
                          color="green"
                          @click="memdialog = false"
                          >Confirm</v-btn
                        >
                      </v-form>
                    </v-sheet>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </div>
            <!-- <SearchMember></SearchMember> -->

            <RegisterViewVue></RegisterViewVue>
          </v-col>
          <v-col class="d-flex justify-center align-center">
            <v-btn
              icon
              color="error"
              class="mr-3"
              size="70"
              @click="OrderStore.clearOrder()"
              ><v-icon icon="mdi-close-thick" size="45"></v-icon>
            </v-btn>
            <v-btn
              icon
              color="success"
              size="70"
              @click="OrderStore.openOrder()"
              ><v-icon icon="mdi-check-bold" size="45"></v-icon
            ></v-btn>
          </v-col>
        </v-row>
      </div>
    </v-container>
    <div></div>
  </v-navigation-drawer>
  <PrintBillView ref="confirmDlg"></PrintBillView>
</template>

<style scoped>
.btn-top {
  position: absolute;
  top: 0;
}
.font-color {
  color: rgb(0, 0, 0);
}
.font {
  font-size: 14px;
}
.bold {
  font-weight: 600;
}

.botton-cash {
  background-color: #854836;
  color: rgb(255, 255, 255);
}

.botton-cash:hover {
  background-color: #f5b553;
  color: black;
}

.botton-memb {
  background-color: #f4991a;
  color: rgb(0, 0, 0);
}

.botton-memb:hover {
  background-color: #321313;
  color: rgb(255, 255, 255);
}
</style>
