<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { useCategoryStore } from "@/stores/category";
import InvoiceDialog from "@/views/DialogInvoice/InvoiceDialog.vue";
import { onMounted } from "vue";
import { ref } from "vue";
import ListOrder from "./ListOrder.vue";
import MenuOption from "../MenuOption.vue";

const tab = ref(null);

const productStore = useProductStore();
const categoryStore = useCategoryStore();

//const UserStore = useUserStore();
onMounted(async () => {
  await categoryStore.getCategories();
  await productStore.getProductsByCategory(productStore.category);
  //await UserStore.getUsers();\
});
</script>

<template>
  <!-- tab -->
  <MenuOption />
  <v-img class="bg-color1">
    <v-container>
      <v-row>
        <v-spacer></v-spacer>
        <v-col>
          <div style="width: 350px">
            <v-text-field
              density="compact"
              variant="solo"
              label="Search"
              append-inner-icon="mdi-magnify"
              single-line
              hide-details
              @keydown.enter="
                productStore.searchProduct($event, productStore.category)
              "
            ></v-text-field>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-card
            ><v-tabs
              v-model="productStore.category"
              bg-color="brown-darken-2"
              grow
            >
              <v-tab
                v-for="item of categoryStore.categories"
                :value="item.id"
                :key="item.id"
              >
                <h4>{{ item.name }}</h4>
              </v-tab>
            </v-tabs></v-card
          >
        </v-col>
      </v-row>

      <!-- Menu Window -->
      <v-row>
        <v-col>
          <v-window v-model="tab">
            <v-window-item v-for="i in 3" :key="i" :value="i">
              <v-container fluid>
                <v-row>
                  <v-col
                    v-for="item in productStore.products"
                    :key="item.id"
                    cols="4"
                  >
                    <v-hover v-slot="{ isHovering, props }">
                      <v-card
                        :elevation="isHovering ? 16 : 2"
                        :class="{ 'on-hover': isHovering }"
                        class="rounded-xl card-color font"
                        max-width="344"
                        v-bind="props"
                        @Click="productStore.editAddProduct(item)"
                      >
                        <v-card-item>
                          <div>
                            <div class="card-img-container">
                              <v-img
                                :src="`http://localhost:3000/products/image/${item.image}`"
                              ></v-img>
                            </div>
                            <div class="text-h7 mb-1">{{ item.name }}</div>
                            <div class="float-end text-subtitle-2">
                              {{ item.price }} THB
                            </div>
                          </div>
                        </v-card-item>
                      </v-card>
                    </v-hover>
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
          </v-window>
        </v-col>
      </v-row>
      <InvoiceDialog></InvoiceDialog>
    </v-container>
  </v-img>
  <ListOrder />
</template>

<style>
.card-color {
  background-color: #7f6157;
  /* #795548 */
}

.bg-color1 {
  background-color: #ffffff;
}

.font {
  color: aliceblue;
}

.card-img-container {
  height: 300px;
  /* กำหนดขนาดสูงเท่ากัน */
  width: 330px;
  /* กำหนดขนาดกว้างเท่ากัน */
  height: 225px;
  /* กำหนดขนาดสูงเท่ากัน */
  width: 200px;
  /* กำหนดขนาดกว้างเท่ากัน */
  margin: auto;
  /* กำหนดให้รูปอยู่ตรงกลาง */
  overflow: hidden;
  /* กำหนดให้ภาพขยายเต็มกรอบ */
}

.card-img-container v-img {
  height: 100%;
  /* กำหนดขนาดสูงเท่ากับความสูงของพื้นที่ */
  width: 100%;
  /* กำหนดขนาดกว้างเท่ากับความกว้างของพื้นที่ */
  object-fit: cover;
  /* กำหนดให้ภาพขยายเต็มกรอบและตัดทิ้งส่วนที่เกิน */
}

.tab {
  border-radius: 15px;
  /* เท่ากับ 5 หน่วยของ rounded-5 */
  background-color: #704d2b;
  /* สีพื้นหลัง */
}
</style>
