<script lang="ts" setup>
import { onMounted, ref } from "vue";
import { useReportStore } from "@/stores/report";
import { useOrderStore } from "@/stores/order";
import InvoiceDialog from "@/views/DialogInvoice/InvoiceDialog.vue";
const orderStore = useOrderStore();
const reportStore = useReportStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  console.log();
  await orderStore.getOrder();
});
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="89px">
            <v-container>
              <v-row class="mt-1">
                <v-col><div class="font-color">Sales History</div></v-col>
                <InvoiceDialog></InvoiceDialog>
              </v-row>
            </v-container>
          </v-card>
        </v-row>
      </v-container>
      <v-container>
        <v-row>
          <v-card color="#3C2317" width="100%" class="v-card-round">
            <v-table fixed-header height="78.3hv">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Amount</th>
                  <th>Total</th>
                  <th>Recieve</th>
                  <th>Change</th>
                  <th>Payment</th>
                  <th>Date</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item of orderStore.order" :key="item.id">
                  <td>{{ item.id }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.total }}</td>
                  <td>{{ item.recevied }}</td>
                  <td>{{ item.change }}</td>
                  <td>{{ item.payment }}</td>
                  <td>{{ item.createdDate }}</td>
                  <td>
                    <v-btn
                      color="success"
                      size="35"
                      icon="mdi mdi-eye"
                      @click="orderStore.getOrderID(item.id!)"
                    ></v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
        </v-row>
      </v-container>
    </v-row>
  </v-img>
</template>

<style scoped>
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
}
.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
</style>
