<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from "chart.js/auto";
import { onMounted } from "vue";
const labels = ["Sun", "Mon", "Tu", "Wed", "Thu", "Fri", "sat"];

const data = {
    labels: labels,
    datasets: [
        {
            axis: 'x',
            label: 'ยอดขายรายสัปดาห์',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: [
                'rgba(255, 120, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
                'rgb(255, 100, 172)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
            ],
            borderWidth: 1

        }]
};
const config: ChartConfiguration = {
    type: 'bar',
    data: data,
    options: {
        indexAxis: 'x',

    }

};
onMounted(() => {
    const canvaTag = <ChartItem>document.getElementById("IDChart")
    const IDChart = new Chart(
        canvaTag,
        config
    );
});
</script>
<template>
    <div><canvas id="IDChart" height="150px" width="120px"></canvas></div>
</template>


