<script setup lang="ts">
import Chart, { type ChartConfiguration, type ChartItem } from "chart.js/auto";
import { onMounted } from "vue";
const labels = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

const data = {
    labels: labels,
    datasets: [
        {
            label: 'Drinks',
            data: [10, 20, 30, 25, 35, 45, 40, 20, 10, 20],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
        },
        {
            label: 'Bakery',
            data: [20, 30, 25, 35, 45, 40, 50],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
        },
        {
            label: 'Food',
            data: [5, 30, 25, 70, 45, 20, 35],
            backgroundColor: 'rgba(255, 255, 30, 0.2)',
            borderColor: 'rgba(255, 255, 0, 1)',
            borderWidth: 1,
        },
    ],
};
const config: ChartConfiguration = {
    type: "line",
    data: data,
    options: {},
};
onMounted(() => {
    const canvaTag = <ChartItem>document.getElementById("myChart")
    const myChart = new Chart(
        canvaTag,
        config
    );
});
</script>
<template>
    <ChartDialog></ChartDialog>
    <div><canvas id="myChart" height="100px" width="100px"></canvas></div>
</template>

