<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { onMounted, ref } from "vue";
import ConfirmDialog from "../ConfirmDialog.vue";
import EmployeeDialog from "./EmployeeDialog.vue";
const employeeStore = useEmployeeStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  console.log();
  await employeeStore.getEmployee();
});

const tab = ref(null);
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <EmployeeDialog></EmployeeDialog>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6"><div class="font-color">Employee</div></v-col>
                  <v-col>
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      style="width: 400px"
                      @keydown.enter="employeeStore.searchEMP($event)"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="employeeStore.dialog = true"
                      class="botton"
                      prepend-icon="mdi-account-multiple-plus"
                    >
                    </v-btn>
                  </v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>
        </v-row>
      </v-container>

      <!-- งาน -->
      <v-row>
        <v-col>
          <v-window v-model="tab">
            <v-window-item v-for="i in 3" :key="i" :value="i">
              <v-container fluid>
                <v-row>
                  <!-- วนโชว์การ์ด -->
                  <v-col
                    v-for="item in employeeStore.employees"
                    :key="item.id"
                    cols="3"
                  >
                    <!-- ลูกเล่นการ์ด -->
                    <v-hover v-slot="{ isHovering, props }">
                      <!-- การ์ดทั้งหมด -->
                      <v-card
                        :elevation="isHovering ? 16 : 2"
                        :class="{ 'on-hover': isHovering }"
                        class="mx-auto"
                        max-width="500"
                        v-bind="props"
                      >
                        <!-- รูป -->
                        <div class="card-img-container">
                          <v-img
                            aspect-ratio="1/1"
                            cover
                            :src="`http://localhost:3000/employee/image/${item.image}`"
                          >
                            <v-expand-transition>
                              <div
                                v-if="isHovering"
                                class="d-flex transition-fast-in-fast-out bg-brown-darken-2 v-card--reveal text-h2"
                                style="height: 100%"
                              >
                                <v-card-text>
                                  <v-row>
                                    <v-col>Address:</v-col
                                    ><v-col>{{ item.address }}</v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col>Tel:</v-col
                                    ><v-col>{{ item.tel }}</v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col>Email:</v-col
                                    ><v-col>{{ item.email }}</v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col>Position:</v-col
                                    ><v-col>{{ item.position }}</v-col>
                                  </v-row>
                                  <v-row>
                                    <v-col>Hourly wage:</v-col
                                    ><v-col>{{ item.wage }}</v-col>
                                  </v-row>
                                </v-card-text>
                              </div>
                            </v-expand-transition>
                          </v-img>
                        </div>

                        <!-- ชื่อ -->
                        <v-card-text
                          ><p class="text-h5 text--primary">
                            {{ item.name }}
                          </p></v-card-text
                        >
                        <!-- ปุ่ม -->
                        <v-btn
                          class="ma-2"
                          variant="text"
                          icon="mdi-pencil-outline"
                          color="green"
                          @click="employeeStore.editEmployee(item)"
                        ></v-btn>
                        <v-btn
                          class="ma-2"
                          variant="text"
                          icon="mdi-delete-circle"
                          color="red"
                          @click="employeeStore.deleteEmployee(item.id!)"
                        ></v-btn>
                      </v-card>
                    </v-hover>
                  </v-col>
                </v-row>
              </v-container>
            </v-window-item>
          </v-window>
        </v-col>
      </v-row>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}
.card-img-container {
  padding: 7px;
  height: 200px; /* กำหนดขนาดสูงเท่ากัน */
  width: 380px; /* กำหนดขนาดกว้างเท่ากัน */
  height: 310px; /* กำหนดขนาดสูงเท่ากัน */
  width: 300px; /* กำหนดขนาดกว้างเท่ากัน */
  margin: auto; /* กำหนดให้รูปอยู่ตรงกลาง */
}

.card-img-container v-img {
  height: 100px; /* กำหนดขนาดสูงเท่ากับความสูงของพื้นที่ */
  width: 100px; /* กำหนดขนาดกว้างเท่ากับความกว้างของพื้นที่ */
  object-fit: cover; /* กำหนดให้ภาพขยายเต็มกรอบและตัดทิ้งส่วนที่เกิน */
}

.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}
</style>
