<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);

const employeeStore = useEmployeeStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await employeeStore.saveEmployee();
  }
}
</script>
<template>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="employeeStore.editedEmployee.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="Address*"
                  required
                  v-model="employeeStore.editedEmployee.address"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="Tel.*"
                  required
                  v-model="employeeStore.editedEmployee.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must be lenght 10',
                  ]"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="E-mail*"
                  required
                  v-model="employeeStore.editedEmployee.email"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) =>
                      /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                      'Email is not valid!!',
                  ]"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-select
                  :items="['Manager', 'Staff']"
                  label="Position"
                  v-model="employeeStore.editedEmployee.position"
                  required
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-select>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  label="Hourly wage"
                  required
                  v-model="employeeStore.editedEmployee.wage"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-file-input
                  v-model="employeeStore.editedEmployee.files"
                  :placeholder="employeeStore.editedEmployee.image"
                  accept="image/*"
                  label="Image Input"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="employeeStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
