<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import RegisterDialog from "./RegisterDialog.vue";
const customerStore = useCustomerStore();

onMounted(async () => {
  await customerStore.getCustomers();
});
</script>
<template>
  <RegisterDialog></RegisterDialog>
  <v-btn
    @click="customerStore.dialog = true"
    class="botton-reg"
    height="40px"
    width="225px"
    >REGISTER</v-btn
  >
</template>

<style scoped>
.botton-reg {
  background-color: #22d331;
  color: rgb(0, 0, 0);
}

.botton-reg:hover {
  background-color: #321313;
  color: rgb(255, 255, 255);
}
</style>
