<script setup lang="ts">
import customer from "@/services/customer";
import type Customer from "@/types/Customer";
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
const tel = ref();
const dialog = ref(false);
</script>

<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="auto">
      <template v-slot:activator="{ props }">
        <v-btn
          color="#E4C520"
          v-bind="props"
          rounded="lg"
          class="mb-3"
          height="40px"
          width="225px"
        >
          MEMBER
        </v-btn>
      </template>

      <v-card>
        <v-card-title>
          <span class="text-h5">Member</span>
        </v-card-title>
        <v-card-text>
          <v-sheet width="300" class="mx-auto">
            <v-form @submit.prevent>
              <v-text-field
                v-model="tel"
                :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v.length == 10 || 'Length must be lenght 10',
                ]"
                label="Tel"
                clearable
              ></v-text-field>
              <v-btn
                type="submit"
                block
                class="mt-2"
                color="green"
                @click="dialog = false"
                >Confirm</v-btn
              >
            </v-form>
          </v-sheet>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
