<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted, ref } from "vue";
import UserDialog from "./UserDialog.vue";
import ConfirmDialog from "../ConfirmDialog.vue";
import { useEmployeeStore } from "@/stores/employee";
const employeeStore = useEmployeeStore();

const userStore = useUserStore();
const confirmDlg = ref();
onMounted(async () => {
  await userStore.getUsers();
});

const deleteUser = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ ${id} หรือไม่`
    );
    await userStore.deleteUser(id);
  } catch (e) {
    /* empty */
  }
};
</script>

<template>
  <v-img
    src="https://cdn.discordapp.com/attachments/826114441959309312/1094657752304984125/Untitled89_20230409231858.png"
    width="100%"
    cover
    :aspect-ratio="1"
  >
    <v-row>
      <UserDialog></UserDialog>
      <v-container fluid>
        <v-row class="justify-center align-center">
          <v-card color="#3C2317" width="100%" height="80px">
            <div class="ma-6">
              <v-conteiner>
                <v-row>
                  <v-col cols="6">
                    <div class="font-color">User</div>
                  </v-col>
                  <v-col>
                    <v-text-field
                      density="compact"
                      variant="solo"
                      label="Search"
                      append-inner-icon="mdi-magnify"
                      single-line
                      hide-details
                      style="width: 400px"
                      @keydown.enter="userStore.searchUser($event)"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="userStore.dialog = true"
                      class="botton"
                      prepend-icon="mdi-account-multiple-plus"
                    >
                    </v-btn>
                  </v-col>
                </v-row>
              </v-conteiner>
            </div>
          </v-card>
        </v-row>

        <br />
        <v-container>
          <v-row>
            <v-card color="#3C2317" width="100%" class="v-card-round">
              <v-table fixed-header height="78.3vh">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <!-- <th>Operations</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of userStore.users" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.role }}</td>
                    <td>{{ item.email }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-row>
        </v-container>
      </v-container>
    </v-row>
  </v-img>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<style scoped>
.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}

.bg-color {
  background-color: #eae3c8;
  min-height: 93vh;
}

.botton {
  background-color: #f5b553;
  color: rgb(0, 0, 0);
}

.botton:hover {
  background-color: #ffffff;
  color: black;
}

.font-color {
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 20%;
}

.v-card-round {
  border: 1px solid;
  border-radius: 20px;
}
</style>
